:root {

    --color-fondo: #0f172a;

    --color-header1: #1e3a8a;
    --color-header2: #2563eb;
    --color-nav: #1e293b;
    --color-footer: #020617;
    --color-texto: white;
    --color-secundario: #38bdf8;
    --color-label: #cbd5f5;
    --color-card: #1e293b;
    --color-overlay: rgba(27, 24, 69, 0.6);
    --color-error: #ef4444;
    --color-success: #22c55e;

    --sombra-card:
    0px 10px 20px rgba(0,0,0,0.5);
    --sombra-form:
    0px 5px 15px rgba(0,0,0,0.5);
    --sombra-boton:
    0px 5px 15px rgba(56,189,248,0.5);

    --radio-card: 15px;
    --radio-input: 10px;
    --radio-boton: 12px;

    --fuente-principal:
    'Segoe UI', sans-serif;

    --transicion: 0.3s ease;
}